@media only screen and (max-width: 768px) {
    .content{
        width: 100%;
        padding: 0 5px;
    }

    .head{
        padding: 0 25px;
    }
}

@media only screen and (max-width: 576px) {

    .head .content{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
    }

    .show_products{
        width: 100%;
    }

    .add_products{
        position: absolute;
        width: 50%;
        right: -50%;
        box-shadow: 5px 0px 10px 5px var(--text-color);
    }

    .sort_search .content{
        flex-direction: column;
        gap: 5px;
    }

    .sort_search .content div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }

    .btn_add_product{
        display: flex;
    }
    .btn_close_product {
        display: flex;
        flex-direction: column;
        gap: 7px;
        cursor: pointer;
      }
}

@media only screen and (max-width: 400px){
    .add_products{
        position: absolute;
        width: 100%;
        right: -100%;
    }
    .head .content h2{
        font-size: 18px;
    }
}